AZURE_OPENAI_API_VERSION="YOUR_API_VERSION_HERE"
AZURE_OPENAI_ENDPOINT = "MiCROSOFT FOUNDRY PROJECT ENDPOINT HERE"
AZURE_DEPLOYMENT_NAME = "FOUNDRY MODEL DEPLOYMENT NAME HERE"
AZURE_OPENAI_KEY='YOUR_API_KEY_HERE'